<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12 text-center">
        <%= image_tag("services/1.png", :alt => "image", :class => "img-fluid") %>
        <h3 class="mt-10">Award Winning Elevators!</h3>
        <p>Rocket Elevators has gained many prices over the years, notably the 2020 golden gear award. Read more below !</p>
        <a href="#portfolio" class="btn btn-lg btn-default">OUR SUCCESS !</a>
      </div>
      <div class="col-lg-4 col-md-6 col-12 text-center">
        <%= image_tag("services/2", :alt => "image", :class => "img-fluid") %>
        <h3 class="mt-10">An elevator at home ?</h3>
        <p>Yes ! You read that right ! Rocket Elevators offers a large variety of residential elevators to choose from !</p>
        <a href="static_pages/residential" class="btn btn-lg btn-default">SERVICE DETAILS</a>
      </div>
      <div class="col-lg-4 col-md-6 mx-auto text-center" id="service-3">
        <%= image_tag("services/3", :alt => "image", :class => "img-fluid") %>
        <h3 class="mt-10">Spare your legs !</h3>
        <p>Taking the stairs to your office can be quite a tedious task when your building has many stories.
          That's why, we, at Rocket Elevators, offer you an outstanding amount of corporate models to choose from ! </p>
        <a href="static_pages/corporate" class="btn btn-lg btn-default">SERVICE DETAILS</a>
      </div>
    </div>
  </div>
</section>
