#building-section,
#battery-section,
#column-section,
#elevator-section,
#status-section,
#result-section,
#report-section {
  display: none;
}

#intervention {
  min-height: 80vh;
}

#intervention_report {
  min-height: 15vh;
}
